.form-text {
    height: 2.4em;
    width: 100%;
    padding: 0 16px;
    border-radius: 4px;
    border: none; /* broderの幅をフォーカス時に変更するとガタついて見える */
    box-shadow: 0 0 0 1px #ccc inset; /* shadowで幅指定することでガタつきなく綺麗に見せる */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.form-text:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33,150,243) inset;
}

.form-radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-radio input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.form-radio-name {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: #666;
}
.form-radio-name:before {
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 6px;
    flex-shrink: 0;
}
.form-radio input:checked + .form-radio-name {
    color: rgb(33,150,243);
}
.form-radio input:checked + .form-radio-name:before {
    border: 0.35em solid rgb(33,150,243);
}
.form-radio input:focus-visible + .form-radio-name .form-radio-text {
    background: linear-gradient(transparent 90%, fgba(33, 150, 243, 0.3) 90%);
}

.form-checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-checkbox input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.form-checkbox-name {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: #666;
    position: relative;
}
.form-checkbox-name:before {
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 6px;
    flex-shrink: 0;
}
.form-checkbox input:checked + .form-checkbox-name {
    color: rgb(33, 150, 243);
}
.form-checkbox input:checked + .form-checkbox-name:before{
    border: 1px solid rgb(33, 150, 243);
    background-color: rgb(33, 150, 243);
}
.form-checkbox input:checked + .form-checkbox-name:after {
    content: "-";
    position: absolute;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    left:0.4em;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0.4em;
    height: 0.65em;
    transform: translateY(-1px) rotate(45deg);
}
.form-checkbox input:focus-visible + .form-checkbox-name .form-checkbox-text {
    background: linear-gradient(transparent 90%, rgba(33, 150, 243, 0.3) 90%);
}

.form-submit-button {
    display: inline-block;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: poiter;
    border: 2px solid transparent;
}
.form-submit-button:hover {
    background-color: #000;
}
.form-submit-button:focus {
    outline: 0;
    background-color: #000;
    border: 2px solid rgb(33, 150, 243);
}
